In [2]:
#Start 
import pandas as pd
import numpy as np

prof_df = pd.read_csv('prof.csv')
class_df = pd.read_csv('class.csv')

In [3]:
prof_df['cursos']=prof_df['cursos'].apply(lambda x:str(x).split(' '))
prof_df['nodays']=prof_df['nodays'].apply(lambda x:str(x).split(' '))
# prof_df['nohours']=prof_df['nohours'].apply(lambda x:[int(i) for i in x.split(' ')])
prof_df['nohours']=prof_df['nohours'].apply(lambda x:[int(i) for i in str(x).split(' ') if i!='nan'])
prof_df['noclasses']=prof_df['noclasses'].apply(lambda x:[int(i) for i in str(x).split(' ') if i!='nan'])

In [4]:
prof_df

     prof                  cursos  nodays    nohours noclasses
0     Ana  [ortografía, lenguaje]  [L, V]  [1, 4, 2]   [6, 10]
1  Agusto        [matemática, rm]     [L]         []        []

In [5]:
# class_df.query('salon==9')
class_df['salon'].unique()

array([ 7,  8,  9, 10, 11])

In [6]:
salones={}
for salon in class_df['salon'].unique():
    salones[salon]=pd.DataFrame()
    for day in ['L', 'M', 'I', 'J', 'V']:
        salones[salon][day]=pd.Series([None,None,None,None,None,None,None])

In [7]:
salones[7]

      L     M     I     J     V
0  None  None  None  None  None
1  None  None  None  None  None
2  None  None  None  None  None
3  None  None  None  None  None
4  None  None  None  None  None
5  None  None  None  None  None
6  None  None  None  None  None

In [8]:
profesores={}
for profesor in  prof_df['prof']:
    profesores[profesor]=pd.DataFrame()
    for day in ['L', 'M', 'I', 'J', 'V']:
        profesores[profesor][day]=pd.Series([None,None,None,None,None,None,None])

In [9]:
profesores['Ana']

      L     M     I     J     V
0  None  None  None  None  None
1  None  None  None  None  None
2  None  None  None  None  None
3  None  None  None  None  None
4  None  None  None  None  None
5  None  None  None  None  None
6  None  None  None  None  None

In [10]:
#prof->curso-salon
#para eso necesito desglosar el prof_df para que la lista de cursos sea desplegada
#desde ahí lo mergeo con el otro

In [16]:
counter=0
prof_df_desglo=pd.DataFrame({'name':[],'curso':[],})
for prof_id in prof_df.index:
    for materia in prof_df.iloc[prof_id, 1]:
        prof_df_desglo.loc[counter]={'name':prof_df.iloc[prof_id, 0], 'curso':materia}
        counter+=1
prof_df_desglo

     name       curso
0     Ana  ortografía
1     Ana    lenguaje
2  Agusto  matemática
3  Agusto          rm

In [18]:
class_df.merge(prof_df_desglo, on='curso')

        curso  salon  horas name
0  ortografía      7      1  Ana
1  ortografía      8      1  Ana
2  ortografía      9      1  Ana
3  ortografía     10      1  Ana
4  ortografía     11      1  Ana
5    lenguaje      7      2  Ana
6    lenguaje      8      2  Ana
7    lenguaje      9      2  Ana
8    lenguaje     10      2  Ana
9    lenguaje     11      2  Ana

In [ ]:
#Loop from hardest to easiest prof
for prof_id in prof_df['nodays'].apply(len).sort_values().index:
    profesor_row = prof_df.iloc[prof_id]
    prof_s = profesores[profesor_row['prof']]
    days_list = {'L', 'M', 'I', 'J', 'V'}-set(profesor_row['nodays'])
    for day in days_list:
        #Acá reviso lo que tienen que hacer y lo añado secuencial mente
    print(days_list)

{'I', 'M', 'V', 'J'}
{'I', 'M', 'J'}

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=97900acb-f596-4604-9a14-e410ec4ffa76' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>